.button {
    box-shadow: $box-shadow;
    color: white !important;



    &--block {
        display: block !important;
    }

    &:first-child {
        padding: 0 40px;
        color: white;
    }

    a {
        color: white;
        text-decoration: none;

    }

    &__primary {
        position: relative;
        color: white !important;
        background-image: $color-gradient-2;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;

            transform: translateX(-50%);
            height: 100%;
            width: 60%;
            z-index: 1;
            opacity: 1;
            border-radius: 20px;
            background-color: transparent;
            transition: all 0.3s ease;
            box-shadow: 0 0 40px darken($color-secondary, 10);
            box-shadow: 0 30px 50px -30px darken($color-secondary, 10);
        }

        &[disabled] {
            color: #fff;
            background: rgba($color-secondary, 0.2);

            & a {

                color: #fff !important;
            }
        }



    }

    &__outline {
        background-color: transparent;
        text-align: center;
        border-radius: 20px;


        &--white {

            border: solid 2px $color-white;

        }
    }

    &__bloc {
        background-color: transparent;
        display: block;
        width: 100% !important;

    }
}