.color-white, {
    color: #fff !important;
}
.color-tertiary {
    color: $color-tertiary !important;
}
.color-info {
    color: $color-info !important;
}
.color-secondary {
    color: $color-secondary !important;
}
.color-warning {
    color: $color-warning !important;
}
.color-error {
    color: $color-error !important;
}
.color-primary {
    color: $color-primary !important;
}
.background-white, {
    background-color: #fff !important;
}
.background-tertiary {
    background-color: $color-tertiary !important;
}
.background-secondary {
    background-color: $color-secondary !important;
}
.background-primary {
    background-color: $color-primary !important;
}
.background-gradient-2 {
    background: $color-gradient-2 !important;
}
.background-light {
    background: rgba($color-secondary, 0.05);
}
.background-light-2 {
    background: rgba($color-secondary, 0.01);
}
.background-gradient-2-light {
    background: $color-gradient-2-light;
}

.text-center {
    text-align: center;
}

.box-shadow-hover {
    z-index: 2;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease;
    &:hover {
    //   transform: translateY(-5px);
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 150px;
        bottom: 0;
        width: 100%;
        z-index: 0;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 70%;
        width: 60%;
        z-index: -1;
        opacity: 0;
        background-color: transparent;
        transition: all 0.3s ease; // box-shadow: 0 0 40px  darken($color-secondary, 10);
        box-shadow: 0 30px 50px -30px darken($color-secondary, 0);
    }
    &:hover::after {
        opacity: 1;
    }
}



.image-overlay {
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 0.6;
        background-image: $color-gradient-2;
      }
    
}

.text-shadow__white {
    text-shadow: 2px 2px $color-white;
}
.text-bold {
    font-weight: 700;
}

.no-shadow {
    box-shadow: none !important;
}

.no-margin {
    margin: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.no-padding {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}